@import url(http://fonts.googleapis.com/css?family=Karla);

html {
	background: rgba(75, 75, 75, 1); /* Old browsers */
	/*background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 53%, #207cca 99%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(53%,#2989d8), color-stop(99%,#207cca)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 53%,#207cca 99%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 53%,#207cca 99%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 53%,#207cca 99%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 53%,#207cca 99%); /* W3C */
	/*filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}
body {
	font-family: 'Karla', sans-serif;
	width                : 80%;
	min-height           : 80%;
	margin               : 5% auto;
	background           :#fcfcfc;
	border               :1px solid #ccc;
	border-bottom        :2px solid #bbb;
	border-top           :1px solid #ddd;
	border-radius        :10px;
	-webkit-border-radius:10px;
	-moz-border-radius   :10px;
}

#feed {
	list-style: none;
	padding: 0
}
#feed > li {
	border: 1px solid rgba(50, 50, 50, 0.6);
	padding: 0;
	margin: 10px;
}
h3 {
	margin: 0.5em;
}
p {
	margin: 0.5em 0;
	padding: 10px;
	border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}
time {
	font-size: small;
	padding: 0 10px;
}
.tags {
	list-style: none;
	padding-left: 0;
	margin: 5px 0;
	font-size: small;
}
.tags li {
	display: inline-block;
	padding: 0 10px;
}
.tags li:not(:first-child) {
	margin: 0 0.3em;
}
.tags li:not(:last-child):after {
	content: ','
}